@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap');

.ran{
    color: cadetblue;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
    border: 2px solid cadetblue;
    border-radius: 5px 0;
    width: 200px;
    text-align: center;
}